
<div class="container">
  Title:<%= @items.title  %>

</div>
<div class="container">
  <%= @items.opis  %>
</div>
<%= @items.id %>
<%= @items.metraz  %>
<%= @items.poziom  %>
<%= @items.telefon  %>
<%= @items.pokoje  %>

<% if @items.image.present? %>
<%= binding.pry %>
    <%=image_tag(@items.image_url) %>

<% end %>
