
<div class="container">
  Title:<%= @items.title  %>
<div class="">
  Cena: <%= @items.cena %>
</div>
</div>
<div class="container">
  Opis: <br><%= @items.opis  %>
</div>
<ul>
  <li><p><%=@items.metraz%></p></li>
  <li><p><%= @items.poziom %></p></li>
  <li><p><%= @items.pokoje %></p></li>

</ul>


<% if @items.image.present? %>
    <%=image_tag(@items.image_url) %>

<% end %>

<%= binding.pry %>

<%  @items.images.each do |image| %>
  <%= image_tag(image.url) %>
<% end %>
