<style>
  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
</style>




<div class="container">
  Title:<%= @items.title  %>
<div class="">
  Cena: <%= @items.cena %>
</div>
</div>
<div class="container">
  Opis: <br><%= @items.opis  %>
</div>
<ul>
  <li><p><%=@items.metraz%></p></li>
  <li><p><%= @items.poziom %></p></li>
  <li><p><%= @items.pokoje %></p></li>

</ul>


<%# <% if @items.image.present? %>
    <%# <%=image_tag(@items.image_url) %>

<%# <% end %>








<div data-controller="carousel" class="swiper-container w-25 my-5"
    data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination",
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"}}'>
  ...
  <!-- Pagination (... or 1/10 or progress bar) -->
  <div class="swiper-pagination"></div>

  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div> 
