<style>
  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
</style>




<div class="container">
  Title:<%= @items.title  %>
<div class="">
  Cena: <%= @items.cena %>
</div>
</div>
<div class="container">
  Opis: <br><%= @items.opis  %>
</div>
<ul>
  <li><p><%=@items.metraz%></p></li>
  <li><p><%= @items.poziom %></p></li>
  <li><p><%= @items.pokoje %></p></li>

</ul>


<%# <% if @items.image.present? %>
    <%# <%=image_tag(@items.image_url) %>

<%# <% end %>








<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= link_to image_tag(@items.images[0].url,class: "d-block w-40 h-40"),@items.images[0].url%>
      </div>

      <div class="carousel-item ">
        <%= link_to image_tag(@items.images[1].url,class: "d-block w-40 h-40"),@items.images[1].url%>

      </div>



    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>





   <!-- <script type="text/javascript">
     jQuery(function($) {
       // $('.carousel').carousel();
       $( '.item:first' ).addClass( 'active');

     })
    </script> -->
