<style>
  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
</style>




<div class="container">
  Title:<%= @items.title  %>
<div class="">
  Cena: <%= @items.cena %>
</div>
</div>
<div class="container">
  Opis: <br><%= @items.opis  %>
</div>
<ul>
  <li><p><%=@items.metraz%></p></li>
  <li><p><%= @items.poziom %></p></li>
  <li><p><%= @items.pokoje %></p></li>

</ul>


<%# <% if @items.image.present? %>
    <%# <%=image_tag(@items.image_url) %>

<%# <% end %>

<div class="slider-ctr">


    <% @items.images.each do |image| %>
      <figure class="slide"><%= image_tag(image.url) %>
      </figure>

    <% end %>

    <div class="slider-control">
      <div class="control prev disabled">
        <div class="fa fa-chevron-left"></div>
      </div>

      <div class="control next">
        <div class="fa fa-chevron-right"></div>
      </div>
    </div>
  </div>




    <script>
      // buttons

      var sliderControl = document.querySelector(".slider-control");

      // slides informations

      var slides = document.querySelectorAll(".slide"),
          slidesLength = slides.length;

      // slides array

      var slidesArr = [].slice.call(slides);

      // reverse array sorting

      slidesArr = slidesArr.reverse();


      // slide current
      var slideCurrent = 0;

      sliderControl.addEventListener("click", function(e){
        target = e.target;

        // Get next button
        if(target.classList.contains("next")){
          next = e.target,
          prev = next.previousElementSibling,
          nextSlide = slidesArr[slideCurrent + 1],
          slide = slidesArr[slideCurrent];

          slide.classList.add("slide-on");
          slide.classList.remove("text-on");
          nextSlide.classList.add("text-on");

          slideCurrent += 1;
          if(slideCurrent > 0) {
            prev.classList.remove("disabled");
          }
          if(slideCurrent === slidesLength - 1){
            next.classList.add("disabled");
          }
     }

     // get prev button
         if(target.classList.contains("prev")){

          slideCurrent -= 1;

          prev = e.target,
          next = prev.nextElementSibling,
          prevSlide = slidesArr[slideCurrent + 1],
          slidesArr[slideCurrent];
          prevSlide.classList.remove("text-on");
          slide.classList.remove("slide-on");
          slide.classList.add("text-on");

          if(slideCurrent === slidesLength - 2){
            next.classList.add("disabled");
          }
          if(slideCurrent === 0){
          prev.classList.add("disabled");}

         }
 });
    </script>




   <!-- <script type="text/javascript">
     jQuery(function($) {
       // $('.carousel').carousel();
       $( '.item:first' ).addClass( 'active');

     })
    </script> -->
