<style>
  .swiper-slide {
    height: 250px;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .pink {
    background-color: lightpink;
  }

  .green {
    background-color: lightgreen;
  }

  .blue {
    background-color: lightblue;
  }
</style>




<div class="container">
  Title:<%= @items.title  %>
<div class="">
  Cena: <%= @items.cena %>
</div>
</div>
<div class="container">
  Opis: <br><%= @items.opis  %>
</div>
<ul>
  <li><p><%=@items.metraz%></p></li>
  <li><p><%= @items.poziom %></p></li>
  <li><p><%= @items.pokoje %></p></li>

</ul>


<%# <% if @items.image.present? %>
    <%# <%=image_tag(@items.image_url) %>

<%# <% end %>



<% binding.pry %>



  <div class=”carousel-inner”>
    <%@items.images.each_with_index do |pic,i|%>
    <div class="carousel-item <%= "active " if i==0 %>">
         <%= image_tag(pic.url) %>
    </div>
    <%end%>
  </div>





   <!-- <script type="text/javascript">
     jQuery(function($) {
       // $('.carousel').carousel();
       $( '.item:first' ).addClass( 'active');

     })
    </script> -->
